body {
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: blue;
    margin-left: 20px;
  }

  p {
      color: yellow;
      margin-left: 30px;
  }